# @ayeshanasir123:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=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
@99Technologies-ai:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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